html {
  font-size: 10px;
  line-height: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}

.btn, .intro .seo-text .start-watch .btn {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  font-size: 1.2rem;
  background-color: #F25822;
  border: none;
  color: #fff;
  cursor: pointer;
}
.btn:hover, .intro .seo-text .start-watch .btn:hover {
  background-color: rgb(112, 165, 165);
}

.header {
  margin-bottom: 8rem;
  margin-top: 4.5rem;
}
.header .navigation {
  display: flex;
  justify-content: space-between;
}
.header .navigation .logo {
  display: flex;
  cursor: pointer;
}
.header .navigation .logo img:first-child {
  margin-right: 1.4rem;
}
.header .navigation-info {
  margin-right: 10rem;
}
.header .navigation-info a {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-right: 3.4rem;
}
.header .navigation-info a:first-child {
  color: #F25822;
}

.intro {
  background-image: url(../img/intro-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  margin-left: 10rem;
  margin-bottom: 10rem;
}
.intro .seo-text {
  max-width: 600px;
  position: relative;
}
.intro .seo-text #polygon-1 {
  position: absolute;
  top: 100px;
  left: -85px;
}
.intro .seo-text #polygon-2 {
  position: absolute;
  top: 320px;
  left: 560px;
}
.intro .seo-text h1 {
  font-size: 6rem;
  line-height: 7rem;
}
.intro .seo-text h1 span {
  border: 1px solid #F25822;
  border-radius: 50%;
}
.intro .seo-text p {
  font-size: 2.2rem;
  line-height: 2.3rem;
  color: #888888;
  margin-bottom: 4rem;
}
.intro .seo-text .start-watch {
  display: flex;
  align-items: center;
}
.intro .seo-text .start-watch .btn {
  width: 14rem;
  font-size: 1.5rem;
  margin-right: 2.7rem;
}
.intro .seo-text img {
  cursor: pointer;
  margin-right: 1.5rem;
}
.intro a {
  font-size: 1.5rem;
  color: #888888;
}

.sponsors {
  margin-bottom: 7rem;
}
.sponsors .sponsors-item {
  display: flex;
  justify-content: space-between;
}
.sponsors .sponsors-item img {
  max-width: 140px;
  max-height: 40px;
}

.business-solution {
  background-color: #FAFAFA;
  background-image: url(../img/element.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 3rem;
}
.business-solution .business-solution-wrapper {
  display: flex;
  align-items: center;
}
.business-solution .business-solution-wrapper .business-solution-text {
  min-width: 425px;
}
.business-solution .business-solution-wrapper .business-solution-text h1 {
  font-size: 4.2rem;
  line-height: 5.3rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
}
.business-solution .business-solution-wrapper .business-solution-text p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.5rem;
  color: #888888;
}

.advertising {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.advertising .growyourbusiness, .advertising .drivemoresales, .advertising .getqualityleads {
  padding: 2rem;
}
.advertising .growyourbusiness h1, .advertising .drivemoresales h1, .advertising .getqualityleads h1 {
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.advertising .growyourbusiness p, .advertising .drivemoresales p, .advertising .getqualityleads p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-bottom: 2.5rem;
}
.advertising .growyourbusiness h4, .advertising .drivemoresales h4, .advertising .getqualityleads h4 {
  font-size: 1.1rem;
  line-height: 1.6rem;
}
.advertising .getqualityleads {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.choose-us {
  background-color: #FAFAFA;
  box-sizing: border-box;
  text-align: center;
}
.choose-us h1 {
  font-size: 4.5rem;
  line-height: 5.2rem;
}
.choose-us p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #888888;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.choose-us .choose-us-blog {
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose-us .keyword, .choose-us .social, .choose-us .seo {
  background-color: #fff;
  max-width: 350px;
  max-height: 550px;
  padding: 2.5rem;
  border: 1px solid #000;
  margin: 2rem;
}
.choose-us .keyword h2, .choose-us .social h2, .choose-us .seo h2 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 2.2rem;
}
.choose-us .keyword p, .choose-us .social p, .choose-us .seo p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #888888;
  margin-bottom: 5.4rem;
}/*# sourceMappingURL=style.css.map */