html {
  font-size: 10px;
  line-height: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}

.btn, .intro .seo-text .start-watch .btn {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  font-size: 1.2rem;
  background-color: #F25822;
  border: none;
  color: #fff;
  cursor: pointer;
}
.btn:hover, .intro .seo-text .start-watch .btn:hover {
  background-color: rgb(112, 165, 165);
}

.header {
  margin-bottom: 8rem;
  margin-top: 4.5rem;
}
.header .navigation {
  display: flex;
  justify-content: space-between;
}
.header .navigation .logo {
  display: flex;
  cursor: pointer;
}
.header .navigation .logo img:first-child {
  margin-right: 1.4rem;
}
.header .navigation-info {
  margin-right: 10rem;
}
.header .navigation-info a {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-right: 3.4rem;
}
.header .navigation-info a:first-child {
  color: #F25822;
}

.intro {
  background-image: url(../img/intro-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  margin-left: 10rem;
  margin-bottom: 10rem;
}
.intro .seo-text {
  max-width: 600px;
  position: relative;
}
.intro .seo-text #polygon-1 {
  position: absolute;
  top: 100px;
  left: -85px;
}
.intro .seo-text #polygon-2 {
  position: absolute;
  top: 320px;
  left: 560px;
}
.intro .seo-text h1 {
  font-size: 6rem;
  line-height: 7rem;
}
.intro .seo-text h1 span {
  border: 1px solid #F25822;
  border-radius: 50%;
}
.intro .seo-text p {
  font-size: 2.2rem;
  line-height: 2.3rem;
  color: #888888;
  margin-bottom: 4rem;
}
.intro .seo-text .start-watch {
  display: flex;
  align-items: center;
}
.intro .seo-text .start-watch .btn {
  width: 14rem;
  font-size: 1.5rem;
  margin-right: 2.7rem;
}
.intro .seo-text img {
  cursor: pointer;
  margin-right: 1.5rem;
}
.intro a {
  font-size: 1.5rem;
  color: #888888;
}

.sponsors {
  margin-bottom: 7rem;
}
.sponsors .sponsors-item {
  display: flex;
  justify-content: space-between;
}
.sponsors .sponsors-item img {
  max-width: 140px;
  max-height: 40px;
}

.business-solution {
  background-color: #FAFAFA;
  background-image: url(../img/element.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 3rem;
}
.business-solution .business-solution-wrapper {
  display: flex;
  align-items: center;
}
.business-solution .business-solution-wrapper .business-solution-text {
  min-width: 425px;
}
.business-solution .business-solution-wrapper .business-solution-text h1 {
  font-size: 4.2rem;
  line-height: 5.3rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
}
.business-solution .business-solution-wrapper .business-solution-text p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.5rem;
  color: #888888;
}

.advertising {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.advertising .growyourbusiness, .advertising .drivemoresales, .advertising .getqualityleads {
  padding: 2rem;
}
.advertising .growyourbusiness h1, .advertising .drivemoresales h1, .advertising .getqualityleads h1 {
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.advertising .growyourbusiness p, .advertising .drivemoresales p, .advertising .getqualityleads p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-bottom: 2.5rem;
}
.advertising .growyourbusiness h4, .advertising .drivemoresales h4, .advertising .getqualityleads h4 {
  font-size: 1.1rem;
  line-height: 1.6rem;
}
.advertising .getqualityleads {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.choose-us {
  background-color: #FAFAFA;
  box-sizing: border-box;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 10rem;
}
.choose-us h1 {
  font-size: 4.5rem;
  line-height: 5.2rem;
}
.choose-us p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #888888;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5.4rem;
}
.choose-us .choose-us-blog {
  display: flex;
  justify-content: center;
}
.choose-us .keyword, .choose-us .social, .choose-us .seo {
  background-color: #fff;
  max-width: 350px;
  padding: 2rem;
  margin: 1.5rem;
}
.choose-us .keyword img, .choose-us .social img, .choose-us .seo img {
  width: 90%;
}
.choose-us .keyword h2, .choose-us .social h2, .choose-us .seo h2 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 2.2rem;
}
.choose-us .keyword p, .choose-us .social p, .choose-us .seo p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #888888;
  margin-bottom: 5.4rem;
}
.choose-us .keyword .btn .icon-great, .choose-us .social .btn .icon-great, .choose-us .seo .btn .icon-great {
  background-image: url(../img/greatsign.svg);
  position: relative;
  display: inline-block;
  width: 9px;
  height: 9px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.choose-us .seo h2 {
  margin-top: 0.6rem;
}
.choose-us .social h2 {
  margin-top: 0.6rem;
}

.seo-why-need {
  background-image: url(../img/seowhyyou.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: -12rem;
}
.seo-why-need .seo-why-need-info {
  max-width: 560px;
  position: relative;
  left: 80rem;
  top: 8rem;
}
.seo-why-need .seo-why-need-info .seo-why-need-title {
  max-width: 560px;
  position: inherit;
  right: 5rem;
  margin-bottom: 8rem;
}
.seo-why-need .seo-why-need-info .seo-why-need-title h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  margin-bottom: 0.5rem;
}
.seo-why-need .seo-why-need-info .seo-why-need-title p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #666666;
}
.seo-why-need .seo-why-need-info .smm, .seo-why-need .seo-why-need-info .seo-optimization, .seo-why-need .seo-why-need-info .email-marketing {
  max-width: 560px;
  min-height: 100px;
  margin-bottom: 6rem;
}
.seo-why-need .seo-why-need-info .smm img, .seo-why-need .seo-why-need-info .seo-optimization img, .seo-why-need .seo-why-need-info .email-marketing img {
  float: left;
}
.seo-why-need .seo-why-need-info .smm h4, .seo-why-need .seo-why-need-info .seo-optimization h4, .seo-why-need .seo-why-need-info .email-marketing h4 {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  margin-left: 12rem;
}
.seo-why-need .seo-why-need-info .smm p, .seo-why-need .seo-why-need-info .seo-optimization p, .seo-why-need .seo-why-need-info .email-marketing p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #666666;
  margin-left: 12rem;
}
.seo-why-need .seo-why-need-info .email-marketing {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}
.statistic {
  margin-top: 12rem;
  margin-bottom: 14rem;
}
.statistic .statistic-blog {
  max-width: 90%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.statistic .statistic-blog h1 {
  font-size: 7rem;
  line-height: 10rem;
  color: #666666;
  margin-bottom: -3rem;
}
.statistic .statistic-blog p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #666666;
}
.statistic .statistic-blog img {
  position: relative;
  top: 1.6rem;
}

.website-speed {
  margin-bottom: 10rem;
}
.website-speed .website-speed-blog {
  background-image: url(../img/website-speed.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
  display: flex;
  min-height: 440px;
}
.website-speed .website-speed-blog .website-speed-text {
  max-width: 560px;
  margin-top: 8rem;
  margin-left: 4rem;
}
.website-speed .website-speed-blog .website-speed-text h1 {
  font-size: 4rem;
  line-height: 6.5rem;
  margin-bottom: -1.5rem;
}
.website-speed .website-speed-blog .website-speed-text p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #666666;
  margin-bottom: 5.8rem;
}
.website-speed .website-speed-blog .website-speed-text input:first-child {
  max-width: 180px;
  min-height: 25px;
  background-color: #eeeeee;
  border-radius: 50px 0px 0px 50px;
  border-right: solid 2px #cccccc;
  margin-right: -0.2rem;
}
.website-speed .website-speed-blog .website-speed-text input {
  max-width: 180px;
  min-height: 25px;
  padding: 15px;
  background-color: #eeeeee;
  border-radius: 0px 50px 50px 0px;
  border: none;
}
.website-speed .website-speed-blog .website-speed-text .btn {
  min-height: 50px;
  margin-left: 2.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.our-plans {
  margin-bottom: 15rem;
}
.our-plans h1 {
  font-size: 4.5rem;
  line-height: 6.7rem;
  text-align: center;
  margin-bottom: -1rem;
}
.our-plans p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #666666;
  text-align: center;
  margin-bottom: 6rem;
}
.our-plans .our-plans-wrapper {
  display: flex;
}
.our-plans .our-plans-wrapper .plus, .our-plans .our-plans-wrapper .advanced, .our-plans .our-plans-wrapper .beginer {
  max-width: 370px;
  min-height: 420px;
  padding: 5.5rem;
  text-align: center;
  cursor: pointer;
}
.our-plans .our-plans-wrapper .plus:hover, .our-plans .our-plans-wrapper .advanced:hover, .our-plans .our-plans-wrapper .beginer:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.2);
}
.our-plans .our-plans-wrapper .plus:hover .btn, .our-plans .our-plans-wrapper .advanced:hover .btn, .our-plans .our-plans-wrapper .beginer:hover .btn {
  background-color: #F25822;
}
.our-plans .our-plans-wrapper .plus:hover h3, .our-plans .our-plans-wrapper .advanced:hover h3, .our-plans .our-plans-wrapper .beginer:hover h3 {
  color: #F25822;
}
.our-plans .our-plans-wrapper .plus h3, .our-plans .our-plans-wrapper .advanced h3, .our-plans .our-plans-wrapper .beginer h3 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}
.our-plans .our-plans-wrapper .plus h1, .our-plans .our-plans-wrapper .advanced h1, .our-plans .our-plans-wrapper .beginer h1 {
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.our-plans .our-plans-wrapper .plus .small-dollar, .our-plans .our-plans-wrapper .advanced .small-dollar, .our-plans .our-plans-wrapper .beginer .small-dollar {
  font-size: 1.8rem;
  line-height: 2.7rem;
  position: relative;
  bottom: 3.5rem;
}
.our-plans .our-plans-wrapper .plus .bigword, .our-plans .our-plans-wrapper .advanced .bigword, .our-plans .our-plans-wrapper .beginer .bigword {
  font-size: 7rem;
  line-height: 10rem;
}
.our-plans .our-plans-wrapper .plus p, .our-plans .our-plans-wrapper .advanced p, .our-plans .our-plans-wrapper .beginer p {
  color: #666666;
  font-size: 1.6rem;
  line-height: 4rem;
  margin-bottom: 3.6rem;
}
.our-plans .our-plans-wrapper .beginer {
  margin-left: 3rem;
  margin-right: 3rem;
}
.our-plans .our-plans-wrapper .btn, .our-plans .our-plans-wrapper .intro .seo-text .start-watch .btn, .intro .seo-text .start-watch .our-plans .our-plans-wrapper .btn {
  background-color: rgba(242, 88, 34, 0.25);
  width: 200px;
  font-size: 1.5rem;
}

.team-members {
  margin-bottom: 15rem;
}
.team-members h1 {
  font-size: 4.5rem;
  line-height: 6.5rem;
  text-align: center;
  margin-bottom: -0.7rem;
}
.team-members p {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #666666;
  text-align: center;
  margin-bottom: 8rem;
}
.team-members .team-members-wrapper {
  display: flex;
  justify-content: space-around;
}
.team-members .team-members-wrapper .natasha, .team-members .team-members-wrapper .nelson, .team-members .team-members-wrapper .haris, .team-members .team-members-wrapper .john {
  cursor: pointer;
  width: 20%;
  min-height: 280px;
  padding: 2rem;
  text-align: center;
}
.team-members .team-members-wrapper .natasha:hover, .team-members .team-members-wrapper .nelson:hover, .team-members .team-members-wrapper .haris:hover, .team-members .team-members-wrapper .john:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.1);
  color: #F25822;
}
.team-members .team-members-wrapper .natasha h3, .team-members .team-members-wrapper .nelson h3, .team-members .team-members-wrapper .haris h3, .team-members .team-members-wrapper .john h3 {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: -1.5rem;
}
.team-members .team-members-wrapper .natasha p, .team-members .team-members-wrapper .nelson p, .team-members .team-members-wrapper .haris p, .team-members .team-members-wrapper .john p {
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #666666;
  margin-bottom: 2.5rem;
}
.team-members .team-members-wrapper .natasha .social-links img, .team-members .team-members-wrapper .nelson .social-links img, .team-members .team-members-wrapper .haris .social-links img, .team-members .team-members-wrapper .john .social-links img {
  width: 1.5rem;
}
.team-members .team-members-wrapper .natasha .social-links img:not(:last-child), .team-members .team-members-wrapper .nelson .social-links img:not(:last-child), .team-members .team-members-wrapper .haris .social-links img:not(:last-child), .team-members .team-members-wrapper .john .social-links img:not(:last-child) {
  margin-right: 1.2rem;
}/*# sourceMappingURL=style.css.map */