@import "variables";

html {
  font-size: 10px;
  line-height: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: $title-text-color;
  &:hover {
    text-decoration: underline;
  }
}

.btn {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  font-size: 1.2rem;
  background-color: $primary-color;
  border: none;
  color: $secondary-color;
  cursor: pointer;
  &:hover {
    background-color: rgb(112, 165, 165);
  }
}

.header {
  margin-bottom: 8rem;
  margin-top: 4.5rem;
  .navigation {
    display: flex;
    justify-content: space-between;
    .logo {
      display: flex;
      cursor: pointer;
      img {
        &:first-child {
          margin-right: 1.4rem;
        }
      }
    }
  }

  .navigation-info {
    margin-right: 10rem;
    a {
      font-size: 1.4rem;
      line-height: 1.6rem;
      margin-right: 3.4rem;
      &:first-child {
        color: $primary-color;
      }
    }
  }
}

.intro {
  background-image: url(../img/intro-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  margin-left: 10rem;
  margin-bottom: 10rem;
  .seo-text {
    max-width: 600px;
    position: relative;
    #polygon-1 {
      position: absolute;
      top: 100px;
      left: -85px;
    }
    #polygon-2 {
      position: absolute;
      top: 320px;
      left: 560px;
    }
    h1 {
      span {
        border: 1px solid $primary-color;
        border-radius: 50%;
      }
      font-size: 6rem;
      line-height: 7rem;
    }
    p {
      font-size: 2.2rem;
      line-height: 2.3rem;
      color: $gray-text-color;
      margin-bottom: 4rem;
    }
    .start-watch {
      display: flex;
      align-items: center;
      .btn {
        @extend .btn;
        width: 14rem;
        font-size: 1.5rem;
        margin-right: 2.7rem;
      }
    }
    img {
      cursor: pointer;
      margin-right: 1.5rem;
    }
  }
  a {
    font-size: 1.5rem;
    color: $gray-text-color;
  }
}

.sponsors {
  margin-bottom: 7rem;
  .sponsors-item {
    display: flex;
    justify-content: space-between;
    img {
      max-width: 140px;
      max-height: 40px;
    }
  }
}

.business-solution {
  background-color: $gray-background;
  background-image: url(../img/element.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 3rem;
  .business-solution-wrapper {
    display: flex;
    align-items: center;
    .business-solution-text {
      min-width: 425px;
      h1 {
        font-size: 4.2rem;
        line-height: 5.3rem;
        margin-top: -2rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 1.5rem;
        color: $gray-text-color;
      }
    }
  }
}

.advertising {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  .growyourbusiness {
    padding: 2rem;
    h1 {
      font-size: 2.4rem;
      line-height: 2.8rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.2rem;
      margin-bottom: 2.5rem;
    }
    h4 {
      font-size: 1.1rem;
      line-height: 1.6rem;
    }
  }
  .getqualityleads {
    @extend .growyourbusiness;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  }
  .drivemoresales {
    @extend .growyourbusiness;
  }
}

.choose-us {
  background-color: $gray-background;
  box-sizing: border-box;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 10rem;
  h1 {
    font-size: 4.5rem;
    line-height: 5.2rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $gray-text-color;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5.4rem;
  }
  .choose-us-blog {
    display: flex;
    justify-content: center;
  }
  .keyword {
    background-color: #fff;
    max-width: 350px;
    padding: 2rem;
    margin: 1.5rem;
    img {
      width: 90%;
    }
    h2 {
      font-size: 2.4rem;
      line-height: 2.8rem;
      margin-bottom: 2.2rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.2rem;
      color: $gray-text-color;
      margin-bottom: 5.4rem;
    }
    .btn {
      .icon-great {
        background-image: url(../img/greatsign.svg);
        position: relative;
        display: inline-block;
        width: 9px;
        height: 9px;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  .seo {
    @extend .keyword;
    h2 {
      margin-top: 0.6rem;
    }
  }
  .social {
    @extend .keyword;
    h2 {
      margin-top: 0.6rem;
    }
  }
}

.seo-why-need {
  background-image: url(../img/seowhyyou.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: -12rem;
  .seo-why-need-info {
    max-width: 560px;
    position: relative;
    left: 80rem;
    top: 8rem;
    .seo-why-need-title {
      max-width: 560px;
      position: inherit;
      right: 5rem;
      margin-bottom: 8rem;
      h1 {
        font-size: 4.5rem;
        line-height: 5rem;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $gray-text-color-2;
      }
    }
    .smm {
      max-width: 560px;
      min-height: 100px;
      margin-bottom: 6rem;
      img {
        float: left;
      }
      h4 {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        margin-left: 12rem;
      }
      p {
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: $gray-text-color-2;
        margin-left: 12rem;
      }
    }
    .email-marketing {
      @extend .smm;
      box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
    }
    .seo-optimization {
      @extend .smm;
    }
  }
}

.statistic {
  margin-top: 12rem;
  margin-bottom: 14rem;
  .statistic-blog {
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-size: 7rem;
      line-height: 10rem;
      color: $gray-text-color-2;
      margin-bottom: -3rem;
    }
    p {
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: $gray-text-color-2;
    }
    img {
      position: relative;
      top: 1.6rem;
    }
  }
}

.website-speed {
  margin-bottom: 10rem;
  .website-speed-blog {
    background-image: url(../img/website-speed.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    display: flex;
    min-height: 440px;
    .website-speed-text {
      max-width: 560px;
      margin-top: 8rem;
      margin-left: 4rem;
      h1 {
        font-size: 4rem;
        line-height: 6.5rem;
        margin-bottom: -1.5rem;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $gray-text-color-2;
        margin-bottom: 5.8rem;
      }
      input:first-child {
        max-width: 180px;
        min-height: 25px;
        background-color: #eeeeee;
        border-radius: 50px 0px 0px 50px;
        border-right: solid 2px #cccccc;
        margin-right: -0.2rem;
      }
      input {
        max-width: 180px;
        min-height: 25px;
        padding: 15px;
        background-color: #eeeeee;
        border-radius: 0px 50px 50px 0px;
        border: none;
      }
      .btn {
        min-height: 50px;
        margin-left: 2.5rem;
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }
}

.our-plans {
  margin-bottom: 15rem;
  h1 {
    font-size: 4.5rem;
    line-height: 6.7rem;
    text-align: center;
    margin-bottom: -1rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $gray-text-color-2;
    text-align: center;
    margin-bottom: 6rem;
  }
  .our-plans-wrapper {
    display: flex;
    .plus {
      max-width: 370px;
      min-height: 420px;
      padding: 5.5rem;
      text-align: center;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
        box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.2);
        .btn {
          background-color: $primary-color;
        }
        h3 {
          color: $primary-color;
        }
      }
      h3 {
        font-size: 2.4rem;
        line-height: 3.6rem;
      }
      h1 {
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
      .small-dollar {
        font-size: 1.8rem;
        line-height: 2.7rem;
        position: relative;
        bottom: 3.5rem;
      }
      .bigword {
        font-size: 7rem;
        line-height: 10rem;
      }
      p {
        color: $gray-text-color-2;
        font-size: 1.6rem;
        line-height: 4rem;
        margin-bottom: 3.6rem;
      }
    }
    .beginer {
      @extend .plus;
      margin-left: 3rem;
      margin-right: 3rem;
    }
    .advanced {
      @extend .plus;
    }
    .btn {
      background-color: rgba(242, 88, 34, 0.25);
      width: 200px;
      font-size: 1.5rem;
    }
  }
}

.team-members {
  margin-bottom: 15rem;
  h1 {
    font-size: 4.5rem;
    line-height: 6.5rem;
    text-align: center;
    margin-bottom: -0.7rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 2rem;
    color: $gray-text-color-2;
    text-align: center;
    margin-bottom: 8rem;
  }
  .team-members-wrapper {
    display: flex;
    justify-content: space-around;
    .natasha {
      cursor: pointer;
      width: 20%;
      min-height: 280px;
      padding: 2rem;
      text-align: center;
      &:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
        box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.1);
        color: $primary-color;
      }
      h3 {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: -1.5rem;
      }
      p {
        font-size: 1.3rem;
        line-height: 1.9rem;
        color: $gray-text-color-2;
        margin-bottom: 2.5rem;
      }
      .social-links {
        img {
          width: 1.5rem;
          &:not(:last-child) {
            margin-right: 1.2rem;
          }
        }
      }
    }
    .john {
      @extend .natasha;
    }
    .haris {
      @extend .natasha;
    }
    .nelson {
      @extend .natasha;
    }
  }
}
