@import "variables";

html {
  font-size: 10px;
  line-height: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.5rem;
}

a {
  text-decoration: none;
  color: $title-text-color;
  &:hover {
    text-decoration: underline;
  }
}

.btn {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  font-size: 1.2rem;
  background-color: $primary-color;
  border: none;
  color: $secondary-color;
  cursor: pointer;
  &:hover {
    background-color: rgb(112, 165, 165);
  }
}

.header {
  margin-bottom: 5rem;
  .navigation {
    display: flex;
    justify-content: space-between;
    .logo {
      display: flex;
      cursor: pointer;
      img {
        &:first-child {
          margin-right: 1.4rem;
        }
      }
    }
  }

  .navigation-info {
    a {
      font-size: 1.4rem;
      line-height: 1.6rem;
      margin-right: 3.4rem;
      &:first-child {
        color: $primary-color;
      }
    }
  }
}

.intro {
  .seo-text {
    h1 {
      font-size: 6rem;
      line-height: 7rem;
    }
    p {
      font-size: 2rem;
      line-height: 2.3rem;
      color: $gray-text-color;
    }
    .start-watch {
      display: flex;
      align-items: center;
      .btn {
        @extend .btn;
        width: 14rem;
        font-size: 1.5rem;
        margin-right: 2.7rem;
      }
    }
    img {
      cursor: pointer;
      margin-right: 1.5rem;
    }
  }
  a {
    font-size: 1.5rem;
    color: $gray-text-color;
  }
}
