@import "variables";

html {
  font-size: 10px;
  line-height: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: $title-text-color;
  &:hover {
    text-decoration: underline;
  }
}

.btn {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  font-size: 1.2rem;
  background-color: $primary-color;
  border: none;
  color: $secondary-color;
  cursor: pointer;
  &:hover {
    background-color: rgb(112, 165, 165);
  }
}

.header {
  margin-bottom: 8rem;
  margin-top: 4.5rem;
  .navigation {
    display: flex;
    justify-content: space-between;
    .logo {
      display: flex;
      cursor: pointer;
      img {
        &:first-child {
          margin-right: 1.4rem;
        }
      }
    }
  }

  .navigation-info {
    margin-right: 10rem;
    a {
      font-size: 1.4rem;
      line-height: 1.6rem;
      margin-right: 3.4rem;
      &:first-child {
        color: $primary-color;
      }
    }
  }
}

.intro {
  background-image: url(../img/intro-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  margin-left: 10rem;
  margin-bottom: 10rem;
  .seo-text {
    max-width: 600px;
    position: relative;
    #polygon-1 {
      position: absolute;
      top: 100px;
      left: -85px;
    }
    #polygon-2 {
      position: absolute;
      top: 320px;
      left: 560px;
    }
    h1 {
      span {
        border: 1px solid $primary-color;
        border-radius: 50%;
      }
      font-size: 6rem;
      line-height: 7rem;
    }
    p {
      font-size: 2.2rem;
      line-height: 2.3rem;
      color: $gray-text-color;
      margin-bottom: 4rem;
    }
    .start-watch {
      display: flex;
      align-items: center;
      .btn {
        @extend .btn;
        width: 14rem;
        font-size: 1.5rem;
        margin-right: 2.7rem;
      }
    }
    img {
      cursor: pointer;
      margin-right: 1.5rem;
    }
  }
  a {
    font-size: 1.5rem;
    color: $gray-text-color;
  }
}

.sponsors {
  margin-bottom: 7rem;
  .sponsors-item {
    display: flex;
    justify-content: space-between;
    img {
      max-width: 140px;
      max-height: 40px;
    }
  }
}

.business-solution {
  background-color: $gray-background;
  background-image: url(../img/element.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  .business-solution-text {
    min-width: 425px;
    h1 {
      font-size: 4.2rem;
      line-height: 5.3rem;
      margin-top: -2rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-bottom: 1.5rem;
      color: $gray-text-color;
    }
  }
}

.advertising {
  display: flex;
  justify-content: space-between;
  .growyourbusiness {
    padding: 2rem;
    h1 {
      font-size: 2.4rem;
      line-height: 2.8rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.2rem;
      margin-bottom: 2.5rem;
    }
    h4 {
      font-size: 1.1rem;
      line-height: 1.6rem;
    }
  }
  .getqualityleads {
    @extend .growyourbusiness;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  }
  .drivemoresales {
    @extend .growyourbusiness;
  }
}
